:root {
  --primario: #0b1641;
  --secundario: #c70160;
  --sucesso: #16857b;
  --texto: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(
    45deg,
    var(--primario) 0%,
    var(--secundario) 100%
  );
  background-attachment: fixed;
  color: var(--texto);
  padding: 0;
  margin: 0;
}

.cabecalho-principal {
  background: var(--primario);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.rodape-principal {
  background: var(--primario);
  padding: 61px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner-principal {
  margin: 45px 10%;
}

main {
  margin: 40px 0;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 36px;
}

.campo, .botao {
  display: inline-flex;
  background: var(--primario);
  border-radius: 8px;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  border: none
}

#jogos-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#carregar-mais {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#campo-busca {
  padding: 0 16px;
}

#campo-busca img {
  filter: invert(55%)
}

#campo-busca input {
  background: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--texto);
  margin-left: 10px;
  padding: 0;
}

#campo-busca input:focus {
  outline: none;
}

#campo-ordenacao {
  white-space: nowrap;
}

#campo-ordenacao span {
  margin-right: 12px;
}

#campo-ordenacao select {
  background: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--texto);
  padding: 0 0 0 14px;
  margin-right: 16px;

  /* A aparência das opções foi mantida para 
  preservar o comportamento do elemento nos 
  demais dispositivos (ex: Android e iOS)  */
}

.rodape-principal img {
  height: 32px;
  width: auto;
}

.rodape-principal p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
  margin: 32px 0 20px;
}

.rodape-principal ul {
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  gap: 46px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.oferta {
  background: var(--primario);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.oferta figure {
  width: 100%;
  max-height: 150px;
  margin: 0;
}

.oferta figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.preco-normal {
  text-decoration: line-through;
  opacity: .4;
  display: block;
}

.preco-oferta {
  margin: 0;
  line-height: .9;
  font-size: 16pt;
}

.conteiner-jogo {
  width: 100%;
  padding: 10px 15px;
}

.oferta h3 {
  font-size: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.oferta .informacao {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.oferta .informacao > div {
  width: 100%;
  text-align: right;
  margin: 0 12px;
}

.oferta .informacao > div > * {
  white-space: nowrap;
}

.oferta .informacao .botao {
  padding: 9px 14px;
  height: unset;
  font-weight: 600;
  text-transform: uppercase;
}

.oferta .detalhe  {
  background: var(--secundario);
}

.oferta .desconto {
  background: var(--sucesso);
  min-width: 84px;
  box-shadow: none;
}